    
  <% @urls.each do |url| %>
  
    <span class="url_img" id="<%= URI.escape(CGI.escape(url),".") %>" >

    </span>
  
  <% end %>

  <script type="text/javascript">
      $('.url_img').each(function(){
        var $this = $(this);
        var id = $this.attr('id');
        
        console.log(id);
        var req = $.ajax({
                          type: "GET",
                          url: '/scraper/images_for_url',
                          data: 'url=' + id,
                          success: success
                        });
  
        function success(imgArr, textStatus, jqXHR){
          var arr = eval(imgArr);
    
          for( var i = 0; i < arr.length; i++){
            $img = $('<img />').attr('src',arr[i]);

            $this.append($img);

          }
        }
      });
  </script>  
</div>

