<div>
  
  <div class="img_container">
  </div>
    
  <% @urls.each do |url| %>
    
    <%= raw Rinku.auto_link(url, mode=:all, link_attr=nil, skip_tags=nil) %>
    
    <div id="<%= URI.escape(CGI.escape(url),".") %>" class="url_img">

    </div>
    
  <% end %>
  
  <script type="text/javascript">
      $('body .url_img').each(function(){
        $this = $(this);
        var id = $this.attr('id');
        
        console.log(id);
        var req = $.ajax({
                          type: "GET",
                          url: '/scraper/images_for_url',
                          data: 'url=' + id,
                          success: success
                        });
  
        function success(imgArr, textStatus, jqXHR){
          var arr = eval(imgArr);
    
          for( var i = 0; i < arr.length; i++){
            $img = $('<img />').attr('src',arr[i]);
            console.log($img);
            $this.append($img);

          }
        }
      });
  </script>  
</div>

